extends ../layout

block content 
    a(href= '/bicicletas') Volver 

    br
    br
    br

    h1 Nueva Bicicleta 

    br
    br

    form(action='/bicicletas/create' method='post')
        label(fort='id') ID: 
        input#id(type= 'text' name='id')
        br
        label(fort='color') Color: 
        input#color(type= 'text' name='color')
        br
        label(fort='modelo') Modelo: 
        input#modelo(type= 'text' name='modelo')
        br
        label(fort='lat') Latitud: 
        input#lat(type= 'text' name='lat')
        br
        label(fort='lng') Longitud: 
        input#lng(type= 'text' name='lng')
        br
        input.btn(type='submit' value='OK')

        
    