extends ../layout

block content 
    a(href= '/bicicletas') Volver 

    br
    br
    br

    h1 Actualizar Bicicleta 

    br
    br

    form(action=`/bicicletas/${bici.id}/update` method='post')
        label(fort='id') ID: 
        input#id(type= 'text' name='id' value=bici.id)
        br
        label(fort='color') Color: 
        input#color(type= 'text' name='color' value=bici.color)
        br
        label(fort='modelo') Modelo: 
        input#modelo(type= 'text' name='modelo' value=bici.modelo)
        br
        label(fort='lat') Latitud: 
        input#lat(type= 'text' name='lat' value=bici.ubicacion[0])
        br
        label(fort='lng') Longitud: 
        input#lng(type= 'text' name='lng' value=bici.ubicacion[1])
        br
        input.btn(type='submit' value='OK')

        
    